# =====================
# Java / Maven
# =====================
*.class
target/
out/

# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml

# =====================
# Logs
# =====================
*.log

# =====================
# OS
# =====================
.DS_Store